html, body, #wrapper, section {
    height: 100%;

    > a {
        height: 100%;
        display: block;
    }
}

#wrapper {
    padding-top: 10px;
    padding-bottom: 10px;

    > div {
        height: 100%;
        border: 1px #e4e4e4 solid;
        border-radius: 15px;
    }
}

.vcenter {
    display: flex;
    align-items: center;
    flex: 1;
    height: 100%;
}

.hcenter {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex: 1;
}

.willkommen {
    img {
        height: 300px;
    }
}